body{


background-color: #80D7F8;

padding-left: 250px;


}

h1{
text-align: left;
color: white;
background-image: url("sunset.jpg");
background-repeat: no-repeat;
background-size:  100% 100%;
border: 1px solid black;
}

div{
 	
 height: 1100px;
  width: 1100px;
  
text-align: center;
color gold;
background-color:white;
background-image: url("coast.jpg");
background-repeat: no-repeat;
background-position : center
border: 2px solid black;
}

nav{
	 
text-align: left;	
background-color:#41C7FA;
height: 90px;
 font-size: 22px;
 
  padding-bottom: 20px;
}

h2{
 font-size: 35px;	
 color: #33D4FF;
	text-align: left;
  padding-left: 35px;
}

p{
	font-size: 22px;
 text-align: left;
 padding-left: 35px;
}

ul{
font-size: 25px;
 text-align: left;
 padding-left: 50px;
}

h4{
font-style: italic;
}

