
@media only screen and (max-width: 600px) {

body{


background-color: #80D7F8;

padding-left: 450px;


}

h1{
text-align: left;
color: white;
background-image: url("sunset.jpg");
background-repeat: no-repeat;
background-size:  100% 100%;
border: 1px solid black;
}

div{
 	
 height: 1285px;
  width: 1000px;
  
text-align: center;
color gold;
background-color:white;
background-image: url("coast.jpg");
background-repeat: no-repeat;
background-position : center
border: 2px solid black;


}

nav{
	 
text-align: left;	
background-color:#41C7FA;
height: 90px;
 font-size: 22px;
  display: block;
 
  padding-bottom: 20px;
}

h2{
 font-size: 35px;	
 color: #33D4FF;
	text-align: left;
  padding-left: 35px;
  padding-top: 240px
}

p{
	
	font-size: 25px;
 text-align: left;
 padding-left: 35px;
}

ul{
	
font-size: 25px;
 text-align: left;
 padding-left: 50px;
 padding-top: 50px;
}

h4{

font-style: italic;
}





 #wrapper {
width: 960px;
 background-color:#060692;
  margin-right: auto; 
  margin-left:  auto; 



  padding-right: 10px; 
  padding-left:  10px;
}
a:hover:not(.active) {
  background-color: #555;
  color: #f1f1f1;
  ]
  
}
	  